@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


body{
    

}

.text h1 {
    color: red;
    font: italic 600 24p/32px 'Open Sans', sans-serif;
    font-style: italic;
    text-align: right; /* comment*/

}

.text a {
    color: blue;
    font-size: 32px;
    line-height: 50px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    
    
}

h1{
    display: inline-block;
    background-color: black;
}